/* Original */
/*
/* 737 */

/* Restaurant Filtering */
.filter-options {
    align-items: center;
    background: #eee;
    height: 4em;
    width: 100%;
    -webkit-box-shadow:0px 2px 2px #888;
    -moz-box-shadow:0px 2px 2px #888;
    box-shadow:0px 2px 2px #888;
}

.filter-options select {
    background: white;
    border: 1px solid #fff;
    font: 11pt Arial,sans-serif;
    height: 2.3em;
    letter-spacing: 0;
    margin: 10px 0px 10px 10px;
    padding: 0;
    width: calc(50% - 20px);
    display: inline-block;
}

.filter-options select:last-of-type {
    margin-right: 10px;
}


/* Restaurant list header */
.filter-results {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 0 0 20px 0;
    width: calc(100% - 40px);
}

.filter-results h2 {
    color: #f58500;
    font-weight: 300;
    margin: 20px 20px 0;
    font: 20pt/1.1 Arial,sans-serif;
}


/* Restaurant List */
.restaurants-list {
    background: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;

    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}

.restaurants-list li {
    background: #fff;
    font-family: Arial,sans-serif;
    margin: 10px 0 20px 20px;
    min-height: 380px;
    padding: 0;
    text-align: left;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 320px;
}

.restaurants-list .restaurant-img {
    background: #ccc;
    display: block;
    max-width: 100%;
/*    min-height: 248px; */
    min-width: 100%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.restaurants-list li h3 {
    color: #f18200;
    font: 14pt/1.3 Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0;
    margin: 20px 0 10px 20px;
    text-transform: uppercase;
    height: 1em;
}

.restaurants-list p {
    font-size: 11pt;
    margin: 0 0 0 20px;
}

.restaurants-list li a {
    background: #f58500;
    color: #fff;
    display: inline-block;
    font-size: 1.7em;
    margin: 15px 20px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}


@media screen and (min-width: 650px) {

    .restaurants-list li {
        background: #fff;
        font-family: Arial,sans-serif;
        margin: 10px 0 20px 20px;
        min-height: 380px;
        padding: 0;
        text-align: left;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 320px;
    }

    .restaurants-list .restaurant-img {
        background: #ccc;
        display: block;
        max-width: 100%;
        min-height: 248px;
        min-width: 100%;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .restaurants-list li h3 {
        color: #f18200;
        font: 14pt/1.3 Arial, sans-serif;
        font-weight: 200;
        letter-spacing: 0;
        margin: 20px 0 10px 20px;
        text-transform: uppercase;
        height: 1em;
    }

    .restaurants-list p {
        font-size: 11pt;
        margin: 0 0 0 20px;
    }

    .restaurants-list li a {
        background: #f58500;
        color: #fff;
        display: inline-block;
        font-size: 1.7em;
        margin: 15px 20px;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3px;
    }
}


@media screen and (min-width: 737px) {

    .restaurants-list li {
        background: #fff;
        font-family: Arial,sans-serif;
        margin: 10px 0 20px 20px;
        min-height: 380px;
        padding: 0;
        text-align: left;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 320px;
    }

    .restaurants-list .restaurant-img {
        background: #ccc;
        display: block;
        max-width: 100%;
        min-height: 248px;
        min-width: 100%;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .restaurants-list li h3 {
        color: #f18200;
        font: 14pt/1.3 Arial, sans-serif;
        font-weight: 200;
        letter-spacing: 0;
        margin: 20px 0 10px 20px;
        text-transform: uppercase;
        height: 1em;
    }

    .restaurants-list p {
        font-size: 11pt;
        margin: 0 0 0 20px;
    }

    .restaurants-list li a {
        background: #f58500;
        color: #fff;
        display: inline-block;
        font-size: 1.7em;
        margin: 15px 20px;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3px;
    }
}

