/* Restaurant Filtering */
.filter-options {
    align-items: center;
    background: #3397DB;
    height: 50px;
    width: 100%;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}

.filter-options select {
    background: white;
    border: 1px solid #fff;
    font: 11pt Arial,sans-serif;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 100%;
}


/* Restaurant List */
.restaurants-list {
    background: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
}

.restaurants-list li {
    background: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    width: 100%;
}

.restaurants-list .restaurant-img {
    background: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
}

.restaurants-list li h1 {
    color: #f18200;
    font: 14pt/1.3 Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.restaurants-list p {
    font-size: 11pt;
    margin: 0;
}

.restaurants-list li a {
    background: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
