body {
  color: #333;
  font: 10pt/1.5 Arial, Helvetica, sans-serif;
  background: #fdfdfd;
  margin: 0;
  position: relative;
  min-width: 360px;
}

.map-header {
  position: absolute;
  left: -2000px;
}

#skip-link {
  position: absolute;
  left: -2999px !important;
  padding: 10px;
  background-color: orange;
  color: white;
}

#skip-link:focus {
  left: 0 !important;
}

footer {
  display: block;
  background: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

p,
td,
th {
  color: #333;
  font: 10pt/1.5 Arial, Helvetica, sans-serif;
}

li,
ul {
  color: #333;
  font: 10pt Arial, Helvetica, sans-serif;
}

a {
  color: orange;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0 #fff;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  height: 100%;
  display: table;
}

h1 a,
h1 span{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

header {
  display: block;
  width: 100%;
/*  position: fixed;
  z-index: 20000; */
}

article,
aside,
canvas,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

main {
  background: #f3f3f3;
  min-height: 100%;
}

img,
embed,
object,
video {
  max-width: 100%;
}


/* Navigation */
header h1 {
  background: #252831;
  height: 80px;
  text-align:center;
  width: 100%;
}

header h1 {
  margin: auto;
}

header h1 span{
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 0px 40px;
}


/* Breadcrumb */
.breadcrumb {
  background: #eee;
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  padding: 15px 20px 15px 20px;
  width: calc(100% - 40px);
  -webkit-box-shadow:0px 2px 2px #888;
  -moz-box-shadow:0px 2px 2px #888;
  box-shadow:0px 2px 2px #888;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font: 1em Arial, Helvetica, sans-serif;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
  padding: 8px;
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* Following snippet of code taken from
 * https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
.offscreen
{
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}


/* #####################################################################################################################

   Map height

   #####################################################################################################################
 */
.map {
  background: #ccc;
  width: 100%;
  z-index: 10;
}

@media screen and (orientation: portrait) {
  .map {
    height: 120px;
  }
}

@media screen and (orientation: portrait) and (min-width: 360px) {
  .map {
    height: 200px;
  }
}

@media screen and (orientation: portrait) and (min-width: 384px) {
  .map {
    height: 240px;
  }
}

@media screen and (orientation: portrait) and (min-width: 412px) {
  .map {
    height: 260px;
  }
}

@media screen and (orientation: portrait) and (min-width: 800px) {
  .map {
    height: 400px;
  }
}

@media screen and (orientation: landscape) {
  .map {
    height: 180px;
  }
}

@media screen and (orientation: landscape) and (min-height: 375px) {
  .map {
    height: 235px;
  }
}

@media screen and (orientation: landscape) and (min-height: 384px) {
  .map {
    height: 244px;
  }
}

@media screen and (orientation: landscape) and (min-height: 411px) {
  .map {
    height: 270px;
  }
}

@media screen and (orientation: landscape) and (min-height: 480px) {
  .map {
    height: 290px;
  }

  @media screen and (orientation: landscape) and (min-height: 950px) {
    .map {
      height: 325px;
    }
  }

  @media screen and (orientation: landscape) and (min-height: 1024px) {
    .map {
      height: 400px;
    }
  }
}


