@media screen and (min-width: 717px) {
  .map-container {
    float: right;
    width: calc(100% - 360px);
  }

  .map {
    height: 550px;
  }
}

@media screen and (min-width: 717px) and (min--moz-device-pixel-ratio: 0) {
  .map {
    height: 560px;
  }
}
