/**
 * Define class to hide elements off-screen yet still make them available to screen readers.
 *
 * The following snippet of code taken from
 *
 *     https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
.offscreen {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.visible {
  font-size: 1.5em;
  margin: 10px;
}
