.restaurant-img {
  height: 248px !important;
  width: 250px !important;
}

.restaurants-list {
  .restaurant-img {
    background: #ccc;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .restaurants-list {
    .restaurant-img {
      min-height: 248px;
    }
  }
}

@media screen and (min-width: 737px) {
  .restaurants-list {
    .restaurant-img {
      min-height: 248px;
    }
  }
}

