@mixin width-calc($margin-size) {
  width: calc((100% - #{$margin-size}) / 2);
}

.reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 0 0 20px;

  h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    margin: 0;
  }
}


.reviews-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100% !important;

  li {
    background: #fff;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    display: inline-block;
    list-style: none;
    margin: 10px 20px 10px 0;
    max-width: 640px;
    min-width: 320px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
  }
}

@media screen and (min-width: 717px) {
  .reviews-list {

    li {
      @include width-calc(40px);
    }
  }
}

@media screen and (min-width: 1357px) {
  .reviews-list {

  li {
    @include width-calc(60px);
  }
}
}
