header {
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-row {
  visibility: collapse;
}

caption {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}

@media screen and (max-width: 716px) {

  .reviews-list li {
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 717px) {

  .map-container {
    width: calc(100% - 360px);
    float: right;
  }

  .map {
    height: 550px;
  }

  .restaurant-container {
    width: 320px !important;
    float: left;
    padding: 0 20px !important;
  }

  .reviews-list li {
    width: calc((100% - 40px) / 2);
  }
}

@media screen and (min-width: 717px) and (min--moz-device-pixel-ratio: 0) {
  .map {
    height: 560px;
  }
}

@media screen and (min-width: 1357px) {

  .reviews-list li {
    width: calc((100% - 60px) / 3);
    max-width: 750px !important;
  }
}


/**
 * Stylize the second page's breadcrumb
 */
.breadcrumb {
  background: #eee;
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  padding: 15px 20px 15px 20px;
  width: calc(100% - 40px);
  -webkit-box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  box-shadow: 0 2px 2px #888;
}

.breadcrumb li {
  display: inline;
  font: 1em Arial, Helvetica, sans-serif;
}

.breadcrumb li + li:before {
  color: black;
  content: "/\00a0";
  padding: 8px;
}

.breadcrumb li a {
  color: #8A4700;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #ff4500;
  text-decoration: none;
}


/* Restaurant details */
.restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 calc((100% - 320px) / 2) 20px;
  width: 320px;
}

.restaurant-name {
  color: #8A4700;
  font: 16pt/1.1 Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 15px;
  text-transform: uppercase;
}

.restaurant-img {
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

.restaurant-cuisine {
  background: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

.restaurant-hours td {
  color: #666;
}


/* Restaurant Review List */
.reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 0 0 20px;
}

.reviews-container h2 {
  color: #8A4700;
  font-size: 24pt;
  font-weight: 300;
  margin: 0;
}

.reviews-list {
  margin: 0;
  padding: 0;
  text-align: center;

  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
}

.reviews-list li {
  background: #fff;
  display: inline-block;
  list-style: none;
  margin: 10px 20px 10px 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: left;
}


/*  Individual Restaurant Review  */
.review-name-date {
  background-color: #333;
  color: #fff;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.review-name {
  display: inline;
  float: left;
  font-size: 2em;
  text-transform: capitalize !important;
}

.review-date {
  display: inline;
  float: right;
  font-size: 1.5em;
  color: lightgrey;
}

.review-rating {
  margin: 20px;
  padding: 8px 20px 8px 20px;
  background-color: #8A4700;
  color: #fff;
  text-transform: uppercase;
  display: table;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 3px;
}

.review-content {
  padding: 0 20px 20px 20px;
  line-height: 1.5em;
  font-size: 1.5em;
}


/*
 * Stylize the input form.
 *
 *
 * This code is an adaptation of https://www.w3schools.com/howto/howto_css_modals.asp
 * Vertical centering made possible by https://github.com/react-bootstrap/react-bootstrap/issues/995#issuecomment-122005744
 * Resolution of Chrome top input border disappearing issue resolved with help of https://stackoverflow.com/questions/42151075/input-top-border-disappears-in-windows-chrome/42151434
 * Shadowing made possible by https://codepen.io/sdthornton/pen/wBZdXq
 */

/* The Modal (background) */
.modal {
  display: none;                     /* Hidden by default */
  position: fixed;                   /* Stay in place */
  z-index: 20;                       /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;                       /* Full width */
  height: 100%;                      /* Full height */
  overflow: auto;                    /* Enable scroll if needed */
  background-color: rgb(0,0,0);      /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(1px) !important;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.modal-header {
  background-color: #252831;
  padding: 20px;
  color: #fff;
  font-size: x-large;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.cancel:hover,
.cancel:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.form-input-name {
  width: calc(50% - 10px);
  padding-right: 10px;
}

.form-input-rating {
  width: calc(50% - 10px);
  padding-left: 10px;
}

.form-input-review {
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
}

#review-comments-label {
  margin-top: 20px;
}

input,
textarea{
  width: 100%;
  resize: none;
}

.modal-footer {
  background-color: #444;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0 10px;
}

button {
  background: #8A4700;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button:hover:enabled,
button:focus:enabled {
  outline: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:disabled {
  background: #808080;
  elevation: 0;
}

.bad-input {
  border-color: #f00;
  border-width: 2px;
  background-color: #ffb6c1;
}

@media screen and (max-height: 384px) {

  .modal-header {
    padding: 10px;
  }

  .modal-body {
    margin: 10px;
  }

  .modal-footer {
    padding: 10px;
  }
}


/**
 * FAB
 */
.fab {
  width: 70px;
  height: 70px;
  background-color: #f00;
  border-radius: 50%;
  border-width: 0;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 0;

  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2000;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
