label {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bolder;
}

.filter-options {
  align-items: center;
  background: #eee;
  border-bottom: 2px solid #888;
  border-top: 2px solid #888;
  width: 100%;

  select {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid #fff;
    font: 11pt Arial, sans-serif;
    height: 2.3em;
    letter-spacing: 0;
    padding: 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }

  select:hover,
  select:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    outline-color: #f58500;
  }
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
}
