@import 'map-list';
@import 'offscreen-visible';


/**
 * Customize the general look and feel of various HTML elements
 */
body {
  background: #fdfdfd;
  color: #333;
  font: 10pt/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 360px;
  position: relative;
}

header {
  display: block;
  width: 100%;

  h1 {
    background: #252831;
    height: 80px;
    margin: auto;
    text-align: center;
    width: 100%;

    span {
      color: #fff;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 10px;
      padding: 0 40px;
      text-transform: uppercase;
    }
  }
}

footer {
  background: #444;
  color: #E0E0E0;
  display: block;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

p,
td,
th {
  color: #333;
  font: 10pt/1.5 Arial, Helvetica, sans-serif;
}

li,
ul {
  color: #333;
  font: 10pt Arial, Helvetica, sans-serif;
}

a {
  color: #8A4700;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

h1 {
  display: table;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 20px;

  a,
  span {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
  display: block;
}

main {
  background: #f3f3f3;
  min-height: 100%;
}

img,
embed,
object,
video {
  max-width: 100%;
}










